@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.wrapper {
  width: 100%;
  font-family: "Play", sans-serif;
}

.first-part-container {
  width: 93.75%;
  margin: 0 auto;
}

#logo-header {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img[alt="ESTES"] {
  width: 153px;
  height: 32px;
}

.logo {
  min-width: 25%;
  min-height: 48px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.estel-phone {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: auto;
}

.text-end {
  text-align: end;
  color: #a0a747;
}
.bold {
  font-weight: bold;
}
#title {
  width: 85%;
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img[alt="west_garden"] {
  width: 15%;
}
#title > h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -3px;
  padding-bottom: 24px;
}
img[alt="jump-out-the-house"] {
  width: 100%;
  position: relative;
}
#the-federal-winner {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  margin-bottom:5%;
}
.tom {
  position: absolute;
  z-index: 9999;
  width: 30%;
  padding-left: 35%;
  padding-top: 42%;
  display: flex;
  flex-direction: row;
}
/* .the-federal-winner-div-container {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
} */
.the-federal-winner-div {
  margin-left: 24px;
  background-color: black;
  color: white;
  min-width: 40%;
  height: 24px;
  border: none;
  border-radius: 5px;
  opacity: 1;
}
.the-federal-winner-div > p {
  text-align: center;
}
.color-green {
  color: #a0a747;
}
 .grisha {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
} 
.dr-stone {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 40%);
  padding-left:15%;
}
.grid-item {
  min-width: 100%;
}
img[alt="ro"] {
  position:relative;
  width: 100%;
  height: 100%;
}
.grid-item-info{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  color:white;
  background:rgba(0,0,0,0.6);
  z-index:9999;
  position:absolute;
  width:auto;
}
